# Use this as a template for creating your .env file
TAPO_ACCOUNT = "hello@example.com"
TAPO_PASSWORD = securepassword
TAPO_IP = 192.168.X.X

INFLUX_BUCKET = bucket1
INFLUX_ORG = ahuora
INFLUX_TOKEN= "-eyzKwbase64..="
INFLUX_URL= http://localhost:8086